* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    font-family: "Noto Serif", serif;
}

.body {
    color: white;
}

.combine{
    background: url(https://res.cloudinary.com/dbgg2kuc9/image/upload/v1708259011/ef7085be91d78613f0938fee57e45f4a_mfccms.jpg) no-repeat;
}

.header {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-family: "Monoton", sans-serif;
    position: relative;
    font-size: 40px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a {
   display: none;
    background: transparent;

    display: inline-block;
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover {
    color: rgb(109, 11, 120);
}
.home {
    display: none;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url(https://res.cloudinary.com/dbgg2kuc9/image/upload/v1708259011/ef7085be91d78613f0938fee57e45f4a_mfccms.jpg) no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;

}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    color: rgb(221, 108, 32);
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    
}

.home-content p {
    font-size: 20px;
    color: white;
    font-family: "Noto Serif", serif;
}

.home-content h3 {
    color: white;
}

.home-content h3 span {
    color: rgb(200, 74, 145);
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
}
.image-content {
    padding-top: 70px;
    width: 50%; 
    text-align: right;
}

.image-content img {
    height: min-content;
    height: 24vw;
    width: 25vw;
    border-radius: 1200px;
    transition: box-shadow 0.5s ease;
}

.image-content img:hover {
    box-shadow: 0px 0px 25px rgb(0, 0, 0); 
}

span.ab{
    color: rgb(8, 8, 8);
    font-weight: bold;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid rgb(255, 0, 200);
    border-radius: 50%;
    font-size: 20px;
    color: rgb(253, 253, 253);
    text-decoration: none;
    margin: 30px 15px 30px 0;
}

.home-sci a:hover {
    background: rgb(255, 0, 200);
    color: black;
    box-shadow: 0 0 20px rgb(255, 0, 200);
}

.btn-box {
    display: inline-block;
    padding: 12px 28px;
    background: rgb(189, 33, 127);
    border-radius: 40px;
    font-size: 10px;
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
}

.btn-box:hover {
    box-shadow: 0 0 5px rgb(0, 0, 0),
    0 0 25px rgb(214, 25, 129),
    0 0 50px rgb(179, 25, 127),
    0 0 100px rgb(192, 20, 129),
    0 0 200px rgb(189, 16, 131);
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.skills,
.portfolio {
    padding: 50px 10%;
    background: url(https://res.cloudinary.com/dbgg2kuc9/image/upload/v1708259011/ef7085be91d78613f0938fee57e45f4a_mfccms.jpg) no-repeat;
    background-size: cover;
    color: #fff;
}

.skills h2,
.portfolio h2 {
    text-align: center;
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
}
.portfolio-item {
    width: calc(33.333% - 20px);
    margin-bottom: 40px;
    border: 2px solid #fff; 
    padding: 20px; 
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
}

.portfolio-item h3 {
    margin-top: 20px;
    font-size: 24px;
    margin-bottom: 10px; 
}

.portfolio-item p {
    margin-top: 0;
    font-size: 16px;
    font-family: "Noto Serif", serif;
}
.portfolio-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
    transition: box-shadow 0.5s ease; 
}
.portfolio-item img:hover {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5); 
}

.skills {
    padding: 50px 10%;
    background: url(https://res.cloudinary.com/dbgg2kuc9/image/upload/v1708259011/ef7085be91d78613f0938fee57e45f4a_mfccms.jpg) no-repeat;
    background-size: cover;
    color: #151515;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
}
.skills h2 {
    text-align: center;
    margin-bottom: 30px;
    padding: 20px; 
}

.skills ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.skills p{
    font-size: 20px;
    font-weight: bold;
    font-family: "Noto Serif", serif;
}
.skills ul li {
    font-size: 18px;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    margin-bottom: 20px;
}
.skills ul li:hover {
color: rgb(218, 19, 168);
}
.portfolio-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-item {
    width: calc(33.333% - 20px);
    margin-bottom: 40px;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
}

.portfolio-item h3 {
    margin-top: 20px;
    font-size: 28px;
    font-weight: bold;
}

.portfolio-item p {
    margin-top: 10px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
    font-family: "Noto Serif", serif;

}
.contact {
    background-color: rgb(214, 46, 102);
    text-align: center;
    padding: 50px 0; 
}

.contact h2 {
    color: black;
    margin-bottom: 30px;
}
.contact h1 {
    color: white;
    font-size: 30px;
    margin-bottom: 30px;
}
.about-1 {
   
    background-size: cover;
    color: rgb(21, 21, 21);
    padding: 50px 10%;
    text-align: center;
    font-family: "Noto Serif", serif;
}
.about-1 {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(176, 16, 160, 0.933)), rgb(210, 103, 31);   
    background-size: cover;
    color: white;
    font-size: 20px;
    padding: 50px 10%;
    text-align: center;
    font-family: "Noto Serif", serif;
}

.skills, .portfolio, .contact {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(176, 16, 160, 0.933)), rgb(210, 103, 31); 
    padding: 50px 10%;
    color: white;
    text-align: center;
}

.about-1 h1.ser-h1 {
    color: white;
}

.about-1 p i {
    font-style: italic;
    font-family: "Noto Serif", serif;
}
.footer{
    text-align: center;
    background: black;
    color: white;

}
body {
    background-color: #000; 
    animation: lightPassing 10s linear infinite;
}
@media only screen and (max-width: 768px) {
    .home-content {
        text-align: center;
    }
    .image-content {
        display: none;
    }
}
@media only screen and (max-width: 480px) {

    .navbar {
        flex-direction: column;
    }
    .navbar a {
        margin-bottom: 10px;
    }
}